<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 목록</title>
</head>
<body>
<div>
  <h3>게시글 목록</h3>

  <!-- 목록 테이블 -->
  <form id="frm" action="/boards/del" method="post">
    <table>
      <thead>
      <tr>
        <!-- 전체 선택 체크박스 -->
        <th><input type="checkbox" id="selectAll"> 전체선택</th>
        <th>아이디</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>수정일</th>
      </tr>
      </thead>
      <tbody>
      <!-- 게시글 목록 반복 -->
      <tr th:each="board : ${list}">
        <td><input type="checkbox" name="boardIds" th:value="${board.boardId}"></td>
        <td th:text="${board.boardId}"></td>
        <td><a th:href="@{/boards/{id}(id=${board.boardId})}" th:text="${board.title}"></a></td>
        <td th:text="${board.author}"></td>
        <td th:text="${#dates.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${#dates.format(board.modifiedDate, 'yyyy-MM-dd HH:mm')}"></td>
      </tr>
      </tbody>
    </table>
  </form>

  <!-- 버튼 그룹 -->
  <div>
    <button id="btnAdd">추가</button>
    <button id="btnDel">삭제</button>
  </div>
</div>

<script>
  // 전체선택 체크박스 기능
  document.getElementById('selectAll').addEventListener('change', function () {
    const checkboxes = document.querySelectorAll('input[name="boardIds"]');
    checkboxes.forEach(checkbox => checkbox.checked = this.checked);
  });

  // 추가 버튼 클릭 시 이동
  const $btnAdd = document.getElementById('btnAdd');
  $btnAdd.addEventListener('click', e => {
    window.location.href = '/boards/add'; // '/boards/add' URL로 이동
  });

  // 삭제 버튼 클릭 시
  const $btnDel = document.getElementById('btnDel');
  $btnDel.addEventListener('click', e => {
    // 선택된 체크박스가 하나라도 있는지 확인
    const checkboxes = document.querySelectorAll('input[name="boardIds"]:checked');
    if (checkboxes.length === 0) {
      alert('한 개 이상 선택 하셔야 합니다');  // 선택되지 않으면 경고 메시지
      return;  // 폼 제출을 막음
    }

    // 확인 후 폼 제출
    if (!confirm('삭제하시겠습니까?')) return;
    const $frm = document.getElementById('frm');
    $frm.submit();
  }, false);
</script>
</body>
</html>
