<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상세</title>
</head>
<body>
<div>
  <h3>게시글 상세</h3>
  <form action="" method="" th:object="${detailForm}">
    <div>
      <label for="boardId">게시판번호</label>
      <input type="text" name="boardId" id="boardId" th:value="*{boardId}" readonly>
    </div>

    <div>
      <label for="">제목</label>
      <input type="text" name="title" th:value="*{title}" readonly>
    </div>

    <div>
      <label for="">내용</label>
      <input type="text" name="content" th:value="*{content}" readonly>
    </div>

    <div>
      <label for="">작성자</label>
      <input type="text" name="author" th:value="*{author}" readonly>
    </div>

    <div>
      <label for="">작성날짜</label>
      <input type="text" name="createdDate" th:value="*{createdDate}" readonly>
    </div>

    <div>
      <label for="">수정날짜</label>
      <input type="text" name="modifiedDate" th:value="*{modifiedDate}" readonly>
    </div>

    <div>
      <button type="button" id="btnUpdate">수정</button>
      <button type="button" id="btnDelete">삭제</button>
      <button type="button" id="btnFindAll">목록</button>
    </div>
  </form>

  <!-- 삭제 확인 모달 -->
  <dialog id="modalDel">
    <p>삭제하시겠습니까?</p>
    <div class="modal-buttons">
      <button class="btnYes">예</button>
      <button class="btnNo">아니요</button>
    </div>
  </dialog>
</div>

<script>
  // 수정 버튼 클릭
  const $btnUpdate = document.getElementById('btnUpdate');
  $btnUpdate.addEventListener('click', e => {
    const $boardId = document.getElementById('boardId');
    const boardId = $boardId.value;
    location.href = `/boards/${boardId}/edit`;
  });

  // 삭제 버튼 클릭
  const $btnDelete = document.getElementById('btnDelete');
  $btnDelete.addEventListener('click', e => {
    const $boardId = document.getElementById('boardId');
    const id = $boardId.value;

    const $modalDel = document.getElementById("modalDel");
    const $btnYes = document.querySelector(".btnYes");
    const $btnNo = document.querySelector(".btnNo");

    // 모달창 띄우기
    $modalDel.showModal();

    // 모달 닫을 때 이벤트 처리
    $modalDel.addEventListener('close', e => {
      if ($modalDel.returnValue === 'yes') {
        location.href = `/boards/${id}/del`;  // 삭제 요청
      }
    });

    $btnYes.addEventListener("click", e => {
      $modalDel.close("yes");
    });

    $btnNo.addEventListener("click", e => {
      $modalDel.close("no");
    });
  });

  // 목록 버튼 클릭
  const $btnFindAll = document.getElementById('btnFindAll');
  $btnFindAll.addEventListener('click', e => {
    location.href = '/boards';  // 목록 페이지로 이동
  });
</script>
</body>
</html>
