<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판 수정</title>
</head>
<body>

<div>
  <h3>게시판 수정</h3>
  <form action="" th:action="@{/boards/{id}/edit(id=${updateForm.boardId})}" method="post" th:object="${updateForm}">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p class="global-err" th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
    </div>

    <div>
      <label for="boardId">게시판번호</label>
      <input type="text" name="boardId" id="boardId" th:value="*{boardId}" readonly>
    </div>

    <div>
      <label for="title">제목</label>
      <input type="text" name="title" th:value="*{title}" id="title">
      <span class="field-err" th:each="err:${#fields.errors('title')}" th:text="${err}"></span>
      <span class="field-err" id="errTitle"></span>
    </div>

    <div>
      <label for="content">내용</label>
      <input type="text" name="content" th:value="*{content}" id="content">
      <span class="field-err" th:each="err:${#fields.errors('content')}" th:text="${err}"></span>
      <span class="field-err" id="errContent"></span>
    </div>

    <div>
      <label for="author">작성자</label>
      <input type="text" name="author" th:value="*{author}" id="author">
      <span class="field-err" th:each="err:${#fields.errors('author')}" th:text="${err}"></span>
      <span class="field-err" id="errAuthor"></span>
    </div>

    <div>
      <label for="">작성날짜</label>
      <input type="text" name="createdDate" th:value="${detailForm.createdDate}" readonly>
    </div>

    <div>
      <label for="">수정날짜</label>
      <input type="text" name="modifiedDate" th:value="${detailForm.modifiedDate}" readonly>
    </div>

    <div>
      <button type="submit" id="btnUpdate">저장</button>
      <button type="button" id="btnFindAll">목록</button>
    </div>
  </form>
</div>

<script type="module">

  import { getBytesSize } from '/js/common.js';

    const frm = document.querySelector('form');
  const $btnUpdate = document.getElementById('btnUpdate');
  const $btnFindAll = document.getElementById('btnFindAll');

  // 저장 버튼 클릭 시
  $btnUpdate.addEventListener('click', e => {
    e.preventDefault();   //submit 기본 이벤트 막기

    // 제목 검사
    if(title.value.length == 0){
      console.log('제목을 입력하세요');
      errTitle.textContent = '제목을 입력하세요';
      title.focus();
      return;
    }else if( getBytesSize(title.value) > 30){
      errTitle.textContent = '제목은 10자를 초과할수 없습니다.';
      title.focus();
      return;
    }else {
      errTitle.textContent = '';
    }

    // 작성자 검사
    if(author.value.length == 0){
      console.log('작성자명을 입력하세요');
      errAuthor.textContent = '작성자명을 입력하세요';
      author.focus();
      return;
    }else if( getBytesSize(author.value) > 30){
      errAuthor.textContent = '작성자명은 10자를 초과할수 없습니다.';
      author.focus();
      return;
    }else {
      errAuthor.textContent = '';
    }

    // 내용 검사
    if(content.value.length == 0){
      console.log('내용을 입력하세요');
      errContent.textContent = '내용을 입력하세요';
      content.focus();
      return;
    }else if( getBytesSize(content.value) > 4000){
      errContent.textContent = '내용은 1300자를 초과할수 없습니다.';
      content.focus();
      return;
    }else {
      errContent.textContent = '';
    }

    frm.submit();

  }, false);

  // 목록 버튼
    $btnFindAll.addEventListener('click',e=>{
      location.href = '/boards';    // get http://localhost:9080/products
    },false);
</script>
</body>
</html>
