@charset "utf-8";

/* 유효성 체크 오류 메세지 */
.field-err {
  font-weight:bold;
  font-size: 0.8rem;
  color: #f00;
}
.global-err {
  font-weight:bold;
  font-size: 0.8rem;
  color: #00f;
}

::backdrop {
  background-color: #999;
  opacity: 0.75;
}
dialog {
  border-radius: 5%;
  border-width:0;
  background-color: yellow;
}